* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'sans-serif';
  background-color: #fafaf8;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  box-shadow: 0px 2px 2px #b6b6b6;
  background-color: white;
}

header > img {
  width: 50px;
  transform: translate(-25px);
}

header > span {
  font-size: 2.5rem;
  padding: 0 0 0 15px;
  color: #252525;
  letter-spacing: -1px;
  transform: translate(-25px);
}

/* Search Bar Container */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 20px;
  width: 800px;
  margin: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  padding-bottom: 50px;
}

.hero > h1 {
  text-align: center;
}

.instructions li {
  margin-bottom: 8px;
}

.hero > p {
  margin-inline: auto;
  font-weight: 300;
}

.add-ingredient-form {
  width: 100%;
}

.container-input-btn {
  display: flex;
  gap: 8px;
  height: 40px;
  width: 100%;
  min-width: 120px;
}

.container-input-btn > input {
  border-radius: 5px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  min-width: 150px;
  width: 79%;
}

.container-input-btn > button {
  border-radius: 5px;
  border-style: none;
  font-family: 'Inter', 'sans-serif';
  background-color: #141413;
  color: white;
  font-weight: 500;
  min-width: fit-content;
  cursor: pointer;
}

.container-input-btn > button:hover {
  background-color: #2b2f35;
}

.text-error {
  margin: 0;
  font-size: 0.85rem;
  color: #cc0000;
  font-style: italic;
  align-self: flex-start;
  padding: 10px 5px;
}

.container-input-btn > button::before {
  content: '+';
  margin-right: 5px;
  font-weight: 800;
}

.loading-svg {
  position: relative;
  height: 20px;
  width: 20px;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 3;
  stroke: #ffdbca;
  stroke-linecap: round;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0%,
  100% {
    stroke-dashoffset: 50;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 100;
  }
}

/* Ingredient list */

.ingredient-list-container {
  width: 100%;
}

.ingredient-list-container > h2 {
  margin-top: 40px;
  width: 100%;
}

.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 28px;
  height: 100px;
  gap: 16px;
}

.get-recipe-heading {
  width: 100%;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
  margin: 8px 0px;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
  margin: 0;
}

.get-recipe-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 9px 14px;
  border: none;
  border-radius: 6px;
  background: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  color: #fafaf8;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: 600;
  min-width: fit-content;
}

.get-recipe-container button:hover {
  background: #aa6047;
}

.get-recipe-container button:active {
  box-shadow: 0 0 0 4px rgba(211, 125, 96, 0.5);
}

/* Disabled button */

.get-recipe-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 100px;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}

/* Media Queries */

@media (max-width: 800px) {
  body {
    font-size: 0.8rem;
  }
  header > img {
    width: 40px;
  }
  header > span {
    font-size: 1.5rem;
  }
  main {
    width: 100%;
  }

  .container-input-btn > button {
    font-size: 0.7rem;
  }
  .get-recipe-container {
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  
  .get-recipe-container button {
    min-width: 25%;
  }
  .suggested-recipe-container {
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 0.7rem;
    min-width: 320px;
  }
}

@media (max-width: 420px) {
  main {
    padding: 16px;
  }
  .container-input-btn {
    flex-direction: column;
    height: auto;
  }
  .container-input-btn > input {
    width: 100%;
  }
  .container-input-btn > button {
    font-size: 0.7rem;
    min-width: 200px;
    min-height: 30px;
  }
  .ingredients-list {
    margin: 12px;
  }
  .ingredient-list-container > h2 {
    margin-top: 10px;
  }
  .get-recipe-container {
    flex-direction: column;
    height: auto;
    padding: 16px;
    gap: 12px
  }
  .get-recipe-container > button {
    width: 100%;
  }


}
