* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'sans-serif';
  background-color: #fafaf8;
}

/* Header */


header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  box-shadow: 0px 2px 2px #b6b6b6;
  background-color: white;
}

header > img {
  width: 50px;
}

header > span {
  font-size: 2.5rem;
  padding: 0 0 0 15px;
  color: #252525;
  letter-spacing: -1px;
}

/* Search Bar Container */

main {
  padding: 50px 30px 20px;
  width: 100vh;
  margin: auto;
}

.add-ingredient-form {
  gap: 10px;
  max-width: 600px;
  margin: auto;
}

.container-input-btn {
  display: flex;
  gap: 10px;
  height: 40px;
}

.container-input-btn > input {
  border-radius: 5px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  min-width: 150px;
  max-width: 400px;
  width: 400px;
}

.container-input-btn > button {
  border-radius: 5px;
  border-style: none;
  font-family: 'Inter', 'sans-serif';
  background-color: #141413;
  color: white;
  font-weight: 500;
  width: 150px;
  cursor: pointer;
}

.add-ingredient-form > p {
  margin: 0;
  font-size: 0.85rem;
  color: #cc0000;
  font-style: italic;
  align-self: flex-start;
  padding: 10px 5px;
}

.container-input-btn > button::before {
  content: '+';
  margin-right: 5px;
  font-weight: 800;
}

/* Ingredient list */

.ingredient-list-container > h2 {
  margin-top: 40px;
}

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #F0EFEB;
  padding: 10px 28px;
  height: 100px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.get-recipe-container p {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 20px;
  margin: 0;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #D17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}